#congratulation {
  display: block;
  color: rgb(87, 204, 87);
  text-align: center;
  margin: 10px auto auto auto;
  padding: 12px 20px;
  font-size: 2rem;
  /* background-color: rgba(44, 57, 121, 0.09); */
}

.game-field {
  display: grid;
  grid-template-columns: auto auto auto;
  filter: drop-shadow(0px 4px 20px rgba(44, 57, 121, 0.09));
  gap: 4px;
  width: min-content;
}

.game-field_cell {
  display: grid;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  border-radius: 12px;
  height: 150px;
  width: 150px;
  padding: 10px;
}

.game-field_cell_win {
  background: rgb(92, 223, 92);
}

.reset-button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px 20px;
  background: #f7f7f7;
  border-radius: 12px;
  margin: 10px auto auto auto;
}

.game-over-color {
  color: rgb(255, 71, 71);
}

.game-over-bg {
  background-color: rgba(255, 255, 0, 0.739);
}
